<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>Graphs Generated Successfully</h1>

    <h2>Price vs Review Count</h2>
    <img src="/static/price_vs_review_count.png" alt="Price Trend">

    <h2>Price vs Price Rating vs Quality Rating</h2>
    <img src="/static/price_vs_price_rating_vs_quality_rating.png" alt="Price Trend">

    <h2>Correlation Heatmap</h2>
    <img src="/static/correlation_heatmap.png" alt="Price Trend">





</body>

</html>